/*============================================

                 16 -- Contact

==============================================*/
.contact-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  @media(max-width: 991px){
    padding-top: 60px;
    padding-bottom: 60px;
  }


  .map-site {
    height: 100%;
    min-height: 350px;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  .contact-form-wrap {
    input {
        width: 100%;
        height: 50px;
        border: 1px solid $gray-200;
        padding: 5px 20px;
        color: $gray-600;
    }
  
    textarea {
        width: 100%;
        height: 200px;
        border: 1px solid $gray-200;
        padding: 10px 20px;
        color: $gray-600;
        resize: none;
    }
  
    input[type="submit"],
    button,
    .submit {
        width: auto;
        height: 50px;
        border: none;
        padding: 5px 30px;
        background-color: $theme-color-1;
        font-size: 16px;
        color: #ffffff !important;
        text-transform: capitalize;
        font-weight: 500;
        transition-duration: 400ms;
        background-color: $theme-color-1;
        box-shadow: $theme-shadow-1;
    }
  
    input[type="submit"]:hover,
    button:hover,
    .submit:hover {
      background-color: $gray-700;
      box-shadow: $gray-700-shadow;
    }
  }
}

.contact-info-box {
  margin-bottom: 30px;
  position: relative;
  padding-left: 100px;
  z-index: 1;

  .icon {
    width: 75px;
    height: 85px;
    background-color: #f7f7f7;
    border-radius: 3px;
    position: absolute;
    text-align: center;
    left: 0;
    font-size: 40px;
    color:$theme-color-1;
    transition: 0.5s;
    top: 50%;
    transform: translateY(-50%);

    i {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  p {
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .back-icon {
    position: absolute;
    right: 0;
    bottom: -15px;
    z-index: -1;
    color: #221638;
    line-height: 1;
    opacity: .04;
    font-size: 100px;
    transform: rotate(-5deg);
  }

  &:hover .icon {
    background-color:$theme-color-1;
    color: #ffffff;
  }
}